
body {
    color: blueviolet;
}

h1 {
    font-size: large;
}

h1:hover {color:magenta}

content {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}